<div class="container">
  <h2 class="text-center">Cities and Programs</h2>
  <div class="row">
    <% data.cities.each do |city, info| %>
     <div class="col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
          <div class="card-category">
            <p><%= info.category %></p>
          </div>
          <div class="card-description">
            <h2>Le Wagon <%= info.name %></h2>
            <p><%= info.description %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
